@model WebApplication4.Models.Randevum

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Randevum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.İstekleriniz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.İstekleriniz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kategorim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kategorim.KategoriId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RandevuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
